body {
  max-width: 800px;
  margin: auto;
  font-family: starling, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  font-size: 110%;
}

h1 {
  font-weight: 700;
}

input {
  border: 0;
  outline: 0;
}

#textInput {
  margin-left: 1rem;
  line-height: 100%;
  font-size: 150%;
  font-family: adelle, serif;
  font-weight: 600;
  width: auto;
}

#result_hf, #result_h, #result_f {
  font-size: 110%;
  font-family: rollerscript-smooth, sans-serif;
  margin: 0;
  margin-top: 0.75rem;
  margin-bottom: 1.2rem;
  margin-left: 0.617rem;
  padding: 0;
  padding-left: 1rem;
  border: 0;
  outline: 0;
  /* box-sizing: border-box; */
  width: 100%;
  min-height: 70px;
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  border-left: 3px;
  border-left-style: solid;
  border-left-color: #999;
}

button {
  color: #fff;
  font-size: 110%;
  font-family: monospace;
  margin-bottom: 0.617rem;
  background-color: #000;
  border: 0;
  outline: 0;
  width: 90px;
  height: 27px;
}

#status {
  margin: 0;
  font-size: 70%;
  display: block;
  font-weight: 700;
}

p {
  margin: 0;
  padding: 0;
}

#foot {
  color: #999;
  margin: 0;
  margin-bottom: 2rem;
  font-size: 70%;
  display: block;
  font-weight: 300;
}
