body {
  max-width: 800px;
  margin: auto;
  font-family: starling, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  font-size: 110%;
}

h1 {
  font-weight: 700;
}

input {
  border: 0;
  outline: 0;
}

#textInput {
  margin-left: 1rem;
  line-height: 100%;
  font-size: 150%;
  font-family: adelle, serif;
  font-weight: 600;
  width: auto;
}

textarea {
  resize: none;
  font-size: 110%;
  font-family: rollerscript-smooth, sans-serif;
  margin: 0;
  margin-bottom: 0.2rem;
  padding: 0;
  border: 0;
  outline: 0;
  /* box-sizing: border-box; */
  width: 100%;
  height: 110px;
}

button {
  color: #fff;
  font-size: 110%;
  font-family: monospace;
  margin-bottom: 0.617rem;
  background-color: #000;
  border: 0;
  outline: 0;
}

#status {
  margin-bottom: 2rem;
  font-size: 70%;
  display: block;
  float: left;
}
