html,
body {
  height: 100%;
  font-family: 'Inconsolata', monospace;
}

body {
  margin: 0;
  display: flex;
  /* This centers the sketch horizontally. */
  justify-content: center;
  /* This centers the sketch vertically. */
  align-items: center;
}

canvas {
  display: block;
  border-radius: 5px;
}
